@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    margin: auto;
}

.container h1{
    font-size: 80px;
    text-align: center;
    font-family: vanity;
}

.container p{
    font-size: 14px;
    padding: 10px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row .btn{
    display: block;
    width: 100%;
    padding: 15px 60px 15px;
    margin: 10px;
    text-align:  center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn-shp{
    background-color: #EF5336;
    color: white;
}

.btn-shp:hover{
    cursor: pointer;
    background-color: #bd1c00;
}

.btn-tkp{
    background-color: #28AA42;
    color: white;
}

.btn-tkp:hover{
    cursor: pointer;
    background-color: #00861b;
}

.btn-lzd{
    background-color: #2a2afa;
    color: white;
}

.btn-lzd:hover{
    cursor: pointer;
    background-color: #0000ac;
}

.img {
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 100px;
}


@media only screen and (max-width: 768px) {
    .row {
        padding: 20px;
        width: 80%;
    }

    .row .btn {
        padding: 15px;
    }
}
